autopep8==1.5.7
beautifulsoup4==4.9.3
cchardet==2.1.7
certifi==2021.5.30
chardet==4.0.0
html5lib==1.1
idna==2.10
lxml==4.6.3
pep8==1.7.1
pycodestyle==2.7.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.5
webencodings==0.5.1
